<h1>Client Quote</h1>

<p>
  Mensaje: 
  <br>
  <%= @quote.message %>
</p>

<p>
  Nombre: 
  <br>
  <%= @quote.fullname %>
</p>

<p>
  Email: 
  <br>
  <%= @quote.email %>
</p>

<p>
  Telefono: 
  <br>
  <%= @quote.phone_number %>
</p>

<p>
  Asunto: 
  <br>
  <%= @quote.subject %>
</p>
