<%= form_for(:session, url: login_path, html: {"novalidate" => "novalidate"}, remote: false) do |f| %>
  <p>
    <%= f.email_field :email, placeholder: 'Email' %>
    <%= f.password_field :password, placeholder: 'Contraseña' %>
    <%= f.check_box :remember_me, id: 'remember_me', checked: false %>
    <%= f.label 'Recuerdame', for: 'remember_me' %>
  </p>
  <p>
  	<%= f.submit 'Iniciar Sesion' %>
  </p>
<% end %>
