<% if @gender == "F" %>
<% dear = "Estimada" %>
<% else %>
<% dear = "Estimado" %>
<% end %>

<p><%= "#{dear} #{@addresse_name}" %></p>

<p>Somos corredores de propiedades de Santiago, LIU Propiedades.</p>

<p>Estamos buscando un terreno de unos 3000m2 en Zapallar, en su mayoría plano, con vista al mar. Si se trata de una casa con terreno, la misma tiene que estar en inmejorables condiciones.</p>

<p>Si le gustaría colaborar con nosotros, por favor, respóndame a mi correo. Tenemos solamente una semana para cerrar el negocio.</p>

<p>Nosotros nos mobilizaremos a Zapallar esta semana para ver y captar propiedades.</p>

<p>Saludos Cordiales</p>

<div><span style="font-size: 16.0px;">Jesús Luongo Lizana</span><br></div>
<div><b><span style="color: rgb(0,0,102);">LIU Propiedades</span></b><br></div>
<div><a target="_blank" href="http://www.liu-propiedades.com">Visita Nuestra Web</a><br></div>
<div>9-56999707<br></div></div>