<% if @gender == "M" %>
<% welcome = "Bienvenido" %>
<% dear = "Estimado" %>
<% else %>
<% welcome = "Bienvenida" %>
<% dear = "Estimada" %>
<% end %>

<% header = "¡Feliz Año Nuevo 2018!" %>

<table style="cellpadding: 0; cellspacing: 0; width: 100%; border-spacing: 0; border-collapse: collapse; background-color: #e9eaea;">
  <tbody>
    <tr>
      <td style="display: block !important; max-width: 600px !important; clear: both !important; margin-right: auto; margin-left: auto;">
        <div style="margin-top: 50px; margin-bottom: 50px;">
          <table style="text-align: center; cellpadding: 0; cellspacing: 0; border-collapse: collapse; width: 100%; max-width: 600px; margin-right: auto; margin-left: auto;">
            <tbody>
              <tr style="background-color: #181a4d;">
                <td style="display: block !important; max-width: 600px !important; clear: both !important; padding-top: 10px; padding-bottom: 10px;">
                  <h1 style="text-align: center; color: #fff; font-family: Helvetica, Arial, sans-serif; font-size: 25px; font-weight: 100;"><%= header %></h1>
                </td>
              </tr>
            </tbody>
          </table>
          <table style="text-align: center; cellpadding: 0; cellspacing: 0; border-collapse: collapse; width: 100%; max-width: 600px; margin-right: auto; margin-left: auto;">
            <tbody>
              <tr style="background-color: #fff;">
                <td style="width: 100%; padding-top: 50px; padding-bottom: 50px; padding-right: 10%; padding-left: 10%; -webkit-text-size-adjust: none;">
                  <p style="text-align: left; color: #555; font-family: Helvetica, Arial, sans-serif; font-size: 24px;">
                    <%= "#{dear} #{@client_name}" %>,</p>
                  <p style="text-align: left; line-height: 1.6 !important; font-family: Helvetica, Arial, sans-serif; color: #555; font-size: 16px;">El equipo de LIU Propiedades le desea un feliz y próspero año nuevo 2018 lleno de éxitos y felicidad. </p>
                  <p style="text-align: left; line-height: 1.6 !important; font-family: Helvetica, Arial, sans-serif; color: #555; font-size: 16px">
									  Le recordamos que estaremos a su lado prestándole el mejor servicio y ayudándole a tomar las mejores decisiones en el mundo inmobiliario.	
                  </p>
                  <p style="text-align: left; line-height: 1.6 !important; font-family: Helvetica, Arial, sans-serif; color: #555; font-size: 16px;; margin-bottom: 30px;">Aprovechamos esta oportunidad para invitarle a seguirnos en las redes sociales:</p>
                  <table style="text-align: center; border-collapse: separate; margin-right: auto; margin-left: auto; background-color: white; color: #333; border: 1px solid #181a4d; border-radius: 10px;">
                    <tbody>
                      <tr>
                        <td style="padding: 5px 10px;">
                          <div style="text-decoration: none; font-family: Helvetica, Arial, sans-serif; letter-spacing: 1.2px; font-size: 18px;">
														<span style="display: block; padding: 10px 20px"><a style="color: #181a4d" target="_blank" href="https://www.facebook.com/liupropiedades">Ir a Facebook</a><span>
                          </div>
                          <div style="text-decoration: none; font-family: Helvetica, Arial, sans-serif; letter-spacing: 1.2px; font-size: 18px;">
														<span style="display: block; padding: 10px 20px;"><a style="color: #181a4d" target="_blank" href="https://www.instagram.com/liupropiedades">Ir a Instagram</a><span>
													</div>
                          <div style="text-decoration: none; font-family: Helvetica, Arial, sans-serif; letter-spacing: 1.2px; font-size: 18px;">
														<span style="display: block; padding: 10px 20px;"><a style="color: #181a4d" target="_blank" href="https://www.youtube.com/channel/UCO4bfyaux0guhqE6GE2aQ0A">Ir a YouTube</a><span>
													</div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <p style="text-align: left; line-height: 1.6 !important; font-family: Helvetica, Arial, sans-serif; color: #555; font-size: 16px; margin-top: 30px;">Nos despedimos con nuestros mejores deseos para este 2018.</p>
                  <p style="margin-top: 0; text-align: left; line-height: 1.6 !important; font-family: Helvetica, Arial, sans-serif; color: #555; font-size: 16px;">Equipo LIU Propiedades</p>
                </td>
              </tr>
            </tbody>
          </table>
          <table style="text-align: center; cellpadding: 0; cellspacing: 0; border-collapse: collapse; width: 100%; max-width: 600px; margin-right: auto; margin-left: auto;">
            <tbody>
              <tr style="background-color: #e9eaea; color: #777d84;">
                <td style="width: 100px; -webkit-text-size-adjust: none; margin-top: 15px; margin-bottom: 20px; text-align: center;">
                  <a style="text-decoration: none; font-size: 13px; font-family: Helvetica, Arial, sans-serif; color: #777d84;" target="_blank" href="http://www.liu-propiedades.com"><span style="color: #777d84;">liu-propiedades.com</span></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </td>
    </tr>
  </tbody>
</table>
