<%= raw @message %>

<div><span style="font-size: 16.0px;"><%= @user.fullname %></span><br></div>
<div><b><span style="color: rgb(0,0,102);">LIU Propiedades</span></b><br></div>
<div><a target="_blank" href="http://www.liu-propiedades.com">Visita Nuestra Web</a><br></div>
<div><%= @user.phone_number %><br></div></div>