<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
	<% base_path = "http://www.liu-propiedades.com/" %>
  <url>
    <loc><%= base_path %></loc>
    <lastmod>
      <%= Property.last.created_at.strftime('%Y-%m-%d') %>
    </lastmod>
    <changefreq>daily</changefreq>
    <priority>0.7</priority>
  </url>


  <url>
    <loc><%= base_path %>es/</loc>
    <lastmod>
      <%= Property.last.created_at.strftime('%Y-%m-%d') %>
    </lastmod>
    <changefreq>weekly</changefreq>
    <priority>0.8</priority>
  </url>

  <url>
    <loc><%= base_path %>en</loc>
    <lastmod>
      <%= Property.last.created_at.strftime('%Y-%m-%d') %>
    </lastmod>
    <changefreq>weekly</changefreq>
    <priority>0.8</priority>
  </url>

  <url>
    <loc><%= base_path%>es/venta/departamento/</loc>
    <lastmod>
      <%= Property.last.created_at.strftime('%Y-%m-%d') %>
    </lastmod>
    <changefreq>daily</changefreq>
    <priority>0.8</priority>
  </url>
  <url>
    <loc><%= base_path%>es/venta/casa/</loc>
    <lastmod>
      <%= Property.last.created_at.strftime('%Y-%m-%d') %>
    </lastmod>
    <changefreq>daily</changefreq>
    <priority>0.8</priority>
  </url>
  <url>
    <loc><%= base_path%>es/venta/comercial/</loc>
    <lastmod>
      <%= Property.last.created_at.strftime('%Y-%m-%d') %>
    </lastmod>
    <changefreq>daily</changefreq>
    <priority>0.8</priority>
  </url>
  <url>
    <loc><%= base_path%>es/venta/oficina/</loc>
    <lastmod>
      <%= Property.last.created_at.strftime('%Y-%m-%d') %>
    </lastmod>
    <changefreq>daily</changefreq>
    <priority>0.8</priority>
  </url>

  <url>
    <loc><%= base_path%>es/arriendo/departamento/</loc>
    <lastmod>
      <%= Property.last.created_at.strftime('%Y-%m-%d') %>
    </lastmod>
    <changefreq>daily</changefreq>
    <priority>0.8</priority>
  </url>
  <url>
    <loc><%= base_path%>es/arriendo/casa/</loc>
    <lastmod>
      <%= Property.last.created_at.strftime('%Y-%m-%d') %>
    </lastmod>
    <changefreq>daily</changefreq>
    <priority>0.8</priority>
  </url>
  <url>
    <loc><%= base_path%>es/arriendo/comercial/</loc>
    <lastmod>
      <%= Property.last.created_at.strftime('%Y-%m-%d') %>
    </lastmod>
    <changefreq>daily</changefreq>
    <priority>0.8</priority>
  </url>
  <url>
    <loc><%= base_path%>es/arriendo/oficina/</loc>
    <lastmod>
      <%= Property.last.created_at.strftime('%Y-%m-%d') %>
    </lastmod>
    <changefreq>daily</changefreq>
    <priority>0.8</priority>
  </url>

  <url>
    <loc><%= base_path%>en/sale/apartment/</loc>
    <lastmod>
      <%= Property.last.created_at.strftime('%Y-%m-%d') %>
    </lastmod>
    <changefreq>daily</changefreq>
    <priority>0.8</priority>
  </url>
  <url>
    <loc><%= base_path%>en/sale/house/</loc>
    <lastmod>
      <%= Property.last.created_at.strftime('%Y-%m-%d') %>
    </lastmod>
    <changefreq>daily</changefreq>
    <priority>0.8</priority>
  </url>
  <url>
    <loc><%= base_path%>en/sale/commercial/</loc>
    <lastmod>
      <%= Property.last.created_at.strftime('%Y-%m-%d') %>
    </lastmod>
    <changefreq>daily</changefreq>
    <priority>0.8</priority>
  </url>
  <url>
    <loc><%= base_path%>en/sale/office/</loc>
    <lastmod>
      <%= Property.last.created_at.strftime('%Y-%m-%d') %>
    </lastmod>
    <changefreq>daily</changefreq>
    <priority>0.8</priority>
  </url>

  <url>
    <loc><%= base_path%>en/rent/apartment/</loc>
    <lastmod>
      <%= Property.last.created_at.strftime('%Y-%m-%d') %>
    </lastmod>
    <changefreq>daily</changefreq>
    <priority>0.8</priority>
  </url>
  <url>
    <loc><%= base_path%>en/rent/house/</loc>
    <lastmod>
      <%= Property.last.created_at.strftime('%Y-%m-%d') %>
    </lastmod>
    <changefreq>daily</changefreq>
    <priority>0.8</priority>
  </url>
  <url>
    <loc><%= base_path%>en/rent/commercial/</loc>
    <lastmod>
      <%= Property.last.created_at.strftime('%Y-%m-%d') %>
    </lastmod>
    <changefreq>daily</changefreq>
    <priority>0.8</priority>
  </url>
  <url>
    <loc><%= base_path%>en/rent/office/</loc>
    <lastmod>
      <%= Property.last.created_at.strftime('%Y-%m-%d') %>
    </lastmod>
    <changefreq>daily</changefreq>
    <priority>0.8</priority>
  </url>


  <% @properties.each do |property| %>
		<% id = property.id %>
		<% permalink = property.permalink %>
		<url>
			<loc><%= base_path %>propiedades/<%= permalink %></loc>
			<lastmod>
				<%= property.updated_at.strftime('%Y-%m-%d') %>
			</lastmod>
			<changefreq>daily</changefreq>
			<priority>0.5</priority>
		</url>
		<url>
			<loc><%= base_path %>properties/<%= id %></loc>
			<lastmod>
				<%= property.updated_at.strftime('%Y-%m-%d') %>
			</lastmod>
			<changefreq>daily</changefreq>
			<priority>0.5</priority>
		</url>
  <% end %>

	<url>
		<loc><%= articles_url %></loc>
		<lastmod>
      <%= Article.last.created_at.strftime('%Y-%m-%d') %>
		</lastmod>
		<changefreq>daily</changefreq>
		<priority>0.8</priority>
	</url>

	<% @articles.each do |article| %>
		<% permalink = article.permalink %>
		<url>
      <loc><%= base_path %>es/blog/permalink</loc>
      <lastmod>
        <%= article.updated_at.strftime('%Y-%m-%d') %>
      </lastmod>
      <changefreq>weekly</changefreq>
      <priority>0.8</priority>
		</url>
	<% end %>
</urlset>
