<% if controller.action_name == "new" %>
  <% button_name = "Ingresar Ventaja" %>
<% else %>
  <% button_name = "Actualizar Ventaja" %>
<% end %>

<% sp_categories_array = SELLING_POINT_CATEGORIES.map { |c| [ (selling_point_category_translator c[:id]) , c[:id]] } %>

<%= form_for [@property, @selling_point] do |f| %>
  <p> 
    Nombre Categoria: <%= f.collection_select :category, sp_categories_array, :last, :first, {} %>
  </p>
  <p>
  	Descripcion: <%= f.text_field :description %>
  </p>
  <p>
    <%= f.submit button_name %>
  </p>
<% end %>