<% if controller.action_name == "new" %>
  <% button_name = "Crear Usuario" %>
<% else %>
  <% button_name = "Editar Usuario" %>
<% end %>
<%= form_for @user do |f| %>
  <p> 
    Nombre: <%= f.text_field :firstname %>
  </p>
  <p>
  	Apellidos: <%= f.text_field :lastname %>
  </p>
  <p>
  	Email: <%= f.text_field :email %>
  </p>
  <p>
  	Contraseña: <%= f.password_field :password %>
  </p>
  <p>
    Repetir contraseña: <%= f.password_field :password_confirmation %>
  </p>
  <p>
    <%= f.submit button_name %>
  </p>
<% end %>