<% if controller.action_name == "new" %>
  <% button_name = "Ingresar Propiedad" %>
<% else %>
  <% button_name = "Actualizar Propiedad" %>
<% end %>

<% property_types_array = PROPERTY_TYPES.map.with_index { |p, i| [ (property_name_translator i) , i] } %>
<% operation_types_array = OPERATION_TYPES.map.with_index { |o, i| [ (operation_name_translator i) , i] } %>
<% stages_array = STAGES.map.with_index { |s, i| [ (stage_translator i) , i] } %>
<% states_array = STATES.map.with_index { |s, i| [s,i] } %>
<%= form_for @property do |f| %>

  <h2>Informacion del Cliente</h2>
  <p> 
    Nombre Contacto: <%= f.text_field :contact_name %>
  </p>
  <p>
  	Telefono Contacto: <%= f.text_field :contact_phone_number %>
  </p>
  <p>
  	Email Contacto: <%= f.text_field :contact_email %>
  </p>
  <p>
  	Rut Contacto: <%= f.text_field :contact_rut %>
  </p>
  <p>
    El contacto es el dueño: <%= f.check_box :is_owner %>
  </p>
  <p> 
    Nombre Dueño: <%= f.text_field :owner_name %>
  </p>
  <p>
  	Telefono Dueño: <%= f.text_field :owner_phone_number %>
  </p>
  <p>
  	Email Dueño: <%= f.text_field :owner_email %>
  </p>
  <p>
  	Rut Dueño: <%= f.text_field :owner_rut %>
  </p>  
  <p> 
    Nombre Corredor: <%= f.text_field :broker_name %>
  </p>
  <p>
  	Telefono Corredor: <%= f.text_field :broker_phone_number %>
  </p>
  <p>
  	Email Corredor: <%= f.text_field :broker_email %>
  </p>
  <p>
  	Empresa Corredor: <%= f.text_field :broker_company %>
  </p>



  <h2>Informacion Interna Propiedad</h2>
  <p>
    Etapa del Negocio: <%= f.collection_select :stage, stages_array, :last, :first, {} %>
  </p>
  <p>
    Descripcion Interna: <%= f.text_area :inhouse_description, rows: 3 %>
  </p>
  <p>
    Calle o Camino: <%= f.text_field :street_name %>
  </p>
  <p>
    Numeracion: <%= f.text_field :street_number %>
  </p>
  <p>
    Numero Depto o Casa: <%= f.text_field :building_number %>
  </p>
  <p>
    Direccion Completa: <%= f.text_field :full_address %>
  </p>
  <p>
    Numero de Rol (SII): <%= f.text_field :rol_number %>
  </p>
  <p>
    Captada por: <%= f.text_field :sales_lead_by %>
  </p>
  <p>
    Horarios de Visita: <%= f.text_area :visiting_hrs, rows: 3 %>
  </p>
  <p>
    Permisos de Publicacion: <%= f.text_field :publication_permissions %>
  </p>
  <p>
    Publicado En: <%= f.text_area :published_on, rows: 3 %>
  </p>


  <h2>Informacion Publica Propiedad</h2>
  <p>
    Tipo Operacion: <%= f.collection_select :operation_type, operation_types_array, :last, :first, {} %>
  </p>
  <p>
    Tipo Propiedad: <%= f.collection_select :property_type, property_types_array, :last, :first, {} %>
  </p>
  <p>
    Derecho de Llaves (solo ventas de locales comerciales): <%= f.check_box :right_to_key %>
  </p>
  <p>
  	Descripcion Publica: <%= f.text_area :public_description, rows: 6 %>
  </p>
  <p>
  	Precio en Pesos (arriendos): <%= f.text_field :price %>
  </p>
  <p>
    Precio en UF (ventas): <%= f.text_field :uf %>
  </p>
  <p>
  	Superficie Mayor: (Denota superficie terreno para terrenos y sitios, y casas. Denota superficie de metros construidos para departamentos) <%= f.text_field :big_surface %>
  </p>
  <p>
  	Superficie Menor: (Denota metros construidos para casas (superficie interior de la casa) y metraje util de los departamentos - sin contar terraza y logia) <%= f.text_field :small_surface %>
  </p>
  <p>
  	Número de Habitaciones: <%= f.text_field :bedrooms %>
  </p>
  <p>
  	Número de Baños: <%= f.text_field :bathrooms %>
  </p>
  <p>
    Número de Huéspedes: (solo arriendos por temporada) <%= f.text_field :number_of_guests %>
  </p>
  <p>
    Es de un ambiente: <%= f.check_box :single_space %>
  </p>
  
  <p>
    Direccion Google Maps (falsa): <%= f.text_field :fake_full_address %>
  </p>
  <p>
  	Bodegas (dejar en blanco si no tiene - no poner 0): <%= f.text_field :storage_rooms %>
  </p>
  <p>
  	Estacionamientos (dejar en blanco si no tiene - no poner 0): <%= f.text_field :parking_spots %>
  </p>
  <p>
  	Cuarto de Servicio: <%= f.check_box :service_room %>
  </p>
  <p>
  	Comuna: <%= f.text_field :comune %>
  </p>
  <p>
    Poblacion: <%= f.text_field :neighborhood %>
  </p>
  <p>
  	Ciudad (provincia): <%= f.text_field :city %>
  </p>
  <p>
    Region: <%= f.collection_select :state_id, states_array, :last, :first, {} %>
  </p>
  <p>
    Latitud: <%= f.text_field :latitude %>
  </p>
  <p>
    Longitud: <%= f.text_field :longitude %>
  </p>
  
  <p>
    Titulo: <%= f.text_field :title %>
  </p>
  <p>
  	Permalink: <%= f.text_field :permalink %>
  </p>
  <p>
    Ubicacion Aproximada: <%= f.text_field :approximate_location %>
  </p>
  <p>
    Numero de Unidades (solo para sitios): <%= f.text_field :number_of_units %>
  </p>
  <p>
    Propiedaded en Canje: <%= f.check_box :tradeable %>
  </p>
  <p>
    <%= f.submit button_name %>
  </p>
<% end %>