<% if gender == "M" %>
<% welcome = "Bienvenido" %>
<% dear = "Estimado" %>
<% else %>
<% welcome = "Bienvenida" %>
<% dear = "Estimada" %>
<% end %>

<% header = "Descubre Penthouse Propiedades" %>

<table style="cellpadding: 0; cellspacing: 0; width: 100%; border-spacing: 0; border-collapse: collapse; background-color: #e9eaea;">
  <tbody>
    <tr>
      <td style="display: block !important; max-width: 600px !important; clear: both !important; margin-right: auto; margin-left: auto;">
        <div style="margin-top: 50px; margin-bottom: 50px;">
          <table style="text-align: center; cellpadding: 0; cellspacing: 0; border-collapse: collapse; width: 100%; max-width: 600px; margin-right: auto; margin-left: auto;">
            <tbody>
              <tr style="background-color: #471311;">
                <td style="display: block !important; max-width: 600px !important; clear: both !important; padding-top: 10px; padding-bottom: 10px;">
                  <h1 style="text-align: center; color: #fff; font-family: Helvetica, Arial, sans-serif; font-size: 25px; font-weight: 100;"><%= header %></h1>
                </td>
              </tr>
            </tbody>
          </table>
          <table style="text-align: center; cellpadding: 0; cellspacing: 0; border-collapse: collapse; width: 100%; max-width: 600px; margin-right: auto; margin-left: auto;">
            <tbody>
              <tr style="background-color: #fff;">
                <td style="width: 100%; padding-top: 50px; padding-bottom: 50px; padding-right: 10%; padding-left: 10%; -webkit-text-size-adjust: none;">
                  <p style="text-align: left; color: #555; font-family: Helvetica, Arial, sans-serif; font-size: 24px;">
                    <%= "#{dear} #{@client_name}" %>,</p>
                  <p style="text-align: left; line-height: 1.6 !important; font-family: Helvetica, Arial, sans-serif; color: #555; font-size: 16px;">Somos Penthouse Propiedades. Nos ponemos en contacto con usted para ofrecerle nuestros servicios de corretaje y administración de propiedades, que incluye:</p>
                  
                  <p>
										<ol style="text-align: left; line-height: 1.6 !important; font-family: Helvetica, Arial, sans-serif; color: #555; font-size: 16px">
											<li>Análisis Legal y Comercial</li>
											<li>Levantamiento Técnico - Fotografia de gran calidad</li>
											<li>Publicidad Destacada y siempre actualizada en: PortalInmobiliario, TocToc, entre otros; También promocionamos en Instagram, Facebook e incluso YouTube.</li>
											<li>Filtro de clientes calificados</li>
											<li>Presentación profesional del inmueble</li>
											<li>Manejo efectivo de negociaciones</li>
											<li>Redacción de documentos por nuestros abogados</li>
										</ol>
									</p>
                  <p style="text-align: left; line-height: 1.6 !important; font-family: Helvetica, Arial, sans-serif; color: #555; font-size: 16px;; margin-bottom: 30px;">Le invitamos a que descubra el mejor servicio y la comisión más baja del mercado</p>
                  <table style="text-align: center; border-collapse: separate; margin-right: auto; margin-left: auto; background-color: white; color: #333; border: 1px solid #471311; border-radius: 10px;">
                    <tbody>
                      <tr>
                        <td style="padding: 5px 10px;">
                          <div style="text-decoration: none; font-family: Helvetica, Arial, sans-serif; letter-spacing: 1.2px; font-size: 18px;">
                          <span style="display: block; padding: 10px 20px;">Teléfono: 9-8597-2570</span>
                          <span style="display: block; padding: 10px 20px;">E-mail: contacto@penthouse.solutions</span>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <p style="margin-top: 20px; text-align: left; line-height: 1.6 !important; font-family: Helvetica, Arial, sans-serif; color: #555; font-size: 16px;">Equipo Penthouse Propiedades</p>
                </td>
              </tr>
            </tbody>
          </table>
          <table style="text-align: center; cellpadding: 0; cellspacing: 0; border-collapse: collapse; width: 100%; max-width: 600px; margin-right: auto; margin-left: auto;">
            <tbody>
              <tr style="background-color: #e9eaea;">
                <td style="width: 100%; -webkit-text-size-adjust: none; padding-top: 20px; padding-bottom: 20px; text-align: center;">
                  <a style="text-decoration: none;" target="_blank" href="https://www.facebook.com/penthousechile"><span style="display: inline-block; font-size: 13px; color: #9aa2ab; font-family: Helvetica, Arial, sans-serif;">Facebook</span></a>
                  <span style="color: #9aa2ab; margin-right: 15px; margin-left: 15px;">/</span>
                  <a style="text-decoration: none;" target="_blank" href="https://www.instagram.com/penthousechile"><span style="display: inline-block; font-size: 13px; color: #9aa2ab; font-family: Helvetica, Arial, sans-serif;">Instagram</span></a>
                  
                  
                </td>
              </tr>
              <tr style="background-color: #e9eaea; color: #777d84;">
                <td style="width: 100px; -webkit-text-size-adjust: none; margin-top: 15px; margin-bottom: 20px; text-align: center;">
                  <a style="text-decoration: none; font-size: 13px; font-family: Helvetica, Arial, sans-serif; color: #777d84;" target="_blank" href="http://www.penthouse.solutions"><span style="color: #777d84;">www.penthouse.solutions</span></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </td>
    </tr>
  </tbody>
</table>
