<% object_descriptor = nil %>

<% if @property %>
	<% object_descriptor = @property %>
<% end %>

<% if @article %>
	<% object_descriptor = @article %>
<% end %>

<% title = inside_cms? ? "no-title" : title_generator(object_descriptor) %>
<% image = inside_cms? ? "no-image" : image_generator(object_descriptor) %>
<% description = inside_cms? ? "no-description" : description_generator(object_descriptor) %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="<%= description %>" />
    <link rel="icon" href="http://i.imgur.com/SP2HjuZ.png" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@liupropiedades" />
    <meta name="twitter:creator" content="@liupropiedades" />
    <meta property="og:title" content="<%= title %>">
    <meta property="og:type" content="website">
    <meta property="og:url" content="<%= request.original_url %>">
    <meta property="og:image" content="<%= image %>">
    <meta property="og:description" content="<%= description %>">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all'%>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css" />
	  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css" />    
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  </head>

  <body>
    <div class="flash-messages">
      <% flash.each do |key, value| %>
        <div alert-type="<%= key %>"><%= value %></div>
      <% end %>
    </div>
    <%= yield %>
  </body>
  <% if Rails.env != "production" %>
    <%= javascript_include_tag "application" %>
  <% else %>
    <%= javascript_include_tag "production" %>
  <% end %>
</html>
